<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/views/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,400&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700&amp;display=swap" rel="stylesheet">
</head>
<body>

    <nav id="navbar" class="nav">
        <ul class="nav-list">
            <li><a href="#welcome-section">About</a></li>
            <li><a href="#projects">Work</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <section id="welcome-section" class="welcome-section">
        <h1>Greetings by G6</h1>
        <p>beginner web-developer</p>
    </section>

    <section id="projects" class="projects-section">
        <h2 class="project-section-header">Some of my projects:</h2>
        <div class="projects-grid">
            <a href="#" class="project project-title" target="_blank">
                <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/tribute.jpg" alt="project">
                <p class="project-title">
                    <span class="code">/* </span>Tribute Page<span class="code"> */</span>
                </p>
            </a>
            <a href="#" class="project project-title" target="_blank">
                <img class="project-image"  src="https://cdn.freecodecamp.org/testable-projects-fcc/images/random-quote-machine.png" alt="project">
                <p class="project-title">
                    <span class="code">/* </span>Random Quote Machine<span class="code"> */</span>
                </p>
            </a>
            <a href="#" class="project project-title" target="_blank">
                <img class="project-image"  src="https://cdn.freecodecamp.org/testable-projects-fcc/images/calc.png" alt="project">
                <p class="project-title">
                    <span class="code">/* </span>Javascript Calculator<span class="code"> */</span>
                </p>
            </a>
            <a href="#" class="project project-title" target="_blank">
                <img class="project-image"  src="https://cdn.freecodecamp.org/testable-projects-fcc/images/map.jpg" alt="project">
                <p class="project-title">
                    <span class="code">/* </span>Map Data Across the Globe<span class="code"> */</span>
                </p>
            </a>
            <a href="#" class="project project-title" target="_blank">
                <img class="project-image"  src="https://cdn.freecodecamp.org/testable-projects-fcc/images/wiki.png" alt="project">
                <p class="project-title">
                    <span class="code">/* </span>Wikipedia Viewer<span class="code"> */</span>
                </p>
            </a>
            <a href="#" class="project project-title" target="_blank">
                <img class="project-image"  src="https://cdn.freecodecamp.org/testable-projects-fcc/images/tic-tac-toe.png" alt="project">
                <p class="project-title">
                    <span class="code">/* </span>Tic Tac Toe Game<span class="code"> */</span>
                </p>
            </a>
        </div>
        <a href="#" class="btn btn-show-all" targer="_blank">Show all<i class="fas fa-chevron-right"></i></a>
    </section>

    <section id="contact" class="contact-section">
        <div class="contact-section-header">
            <h2>Your energy introduces you...</h2>
            <p>before you even speak</p>
        </div>
        <div class="contact-links">
            <a href="#" class="btn contact-details" target="_blank"><i class="fab fa-facebook-square"></i>Facebook</a>
            <a href="#" class="btn contact-details" target="_blank"><i class="fab fa-github"></i>Github</a>
            <a href="#" class="btn contact-details" target="_blank"><i class="fab fa-twitter"></i>Twitter</a>
            <a href="#" class="btn contact-details" target="_blank"><i class="fas fa-at"></i>Send a mail</a>
            <a href="#" class="btn contact-details" target="_blank"><i class="fas fa-mobile-alt"></i>Call me</a>
        </div>
    </section>

    <footer>
        <p>This is my test portfolio. Project-images and names taken to fill the grid.</p>
        <p>Created for <a href="https://freecodecamp.org" target="_blank"> freeCodeCamp<i class="fab fa-free-code-camp"></i></a> by <a id="profile-link" target="_blank" href="#">G6</a></p>
    </footer>
    
    
</body>
</html>